{% extends "layouts/base.html" %}
<!-- import macro -->

<!-- starting content -->
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Link</th>
            <th>YT_ID</th>
            <th>Date</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        {% for vtv in vtvs %}
        <tr>
            <td>{{ vtv.id }}</td>
            <td>{{ vtv.title }}</td>
            <td class='alochym'><a href="{{ vtv.link }}" target="_blank">{{ vtv.link }}</a></td>
            <td>{{ vtv.yt_id }}</td>
            <td>{{ vtv.ins }}</td>
            <td><a type="button" class="btn btn-danger" href="{{url_for('vtvs.vtvs_update', id=vtv.id)}}">YT</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ pagination.links }}
<!-- endblock-->
{% endblock %}
