{% extends "layouts/base.html" %}
<!-- import macro -->

<!-- starting content -->
{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>YT Video</th>
            <th>Title</th>
            <th>Status</th>
            <th>Published</th>
        </tr>
    </thead>
    <tbody>
        {% for yt in youtubes %}
        <tr>
            <td>{{ yt.id }}</td>
            <td>{{ yt.author }}</td>
            <td>{{ yt.yt_videoid }}</td>
            <td>{{ yt.title }}</td>
            <td>{{ yt.status }}</td>
            <td>{{ yt.published }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ pagination.links }}
<!-- endblock-->
{% endblock %}
